.gantt_add{
    display: none;
}
.gantt_grid_head_cell{
    display: none;
}
.gantt_grid_head_add{
    display: none;
}
.gantt_last_cell{
    display: none;
}
.numberCircle {
    font: 32px Arial, sans-serif;

    width: 2em;
    height: 2em;
    background: #fff;
    border: 0.1em solid #666;
    color: #666;
    text-align: center;
    border-radius: 50%;
    line-height: 2em;
    box-sizing: content-box;
    margin-left: 57px;
}
.centerButtonFixedPlugin {
    display: flex;
    justify-content: center;
}
.labelInput{
    flex: 3;
}
.labelColor {
    flex: 1;
}
.flex {
    display: flex;
}
.logout_sidebar_button {
    position: relative;
    min-height: 100%;
    padding-bottom: 40px;

}
.centered {
    height: 100vh; /* Magic here */
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputfile + label {
    font-weight: 700;
    color: white;
    background-color: #003f5c;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #ff7c43;
}
.inputfile + label {
    cursor: pointer; /* "hand" cursor */
}
.inputfile:focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}
.inputfile + label * {
    pointer-events: none;
}